@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif; ;
}

body {
    background-color: #EFEEF6;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    margin: 3% 8%;
    text-align: center;
    
}

.rounded {
    border-radius: 18px;
}

aside,
header, 
section,
div {
    background-color: #FFFFFF;
    
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.089);
    
}
aside,
section,
div {
    background-color: #FFFFFF;
    margin: 20px 0;
    
}

aside {
    padding: 100px 30px ;
    margin: 0px 15px;
    max-height: 250px;
}

header {
    padding: 80px ;
}

#imgs{
    padding:50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-shadow: 0 0 0 white;
}

#imgs div{
    margin: 0 8px 8px 8px;
    background: grey;
    border-radius: 18px;
}

#Skills_Software {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#Skills_Software div {
    border-radius: 18px;
}
 
button {
    padding: 12px ;
    background-image: linear-gradient(to right, #4737F2 , #8344FF);
    color: #FFFFFF;
    font-family: 'Roboto' sans-serif;
    font-size: 8pt;
    border-radius: 20px;
    border: none;
    box-shadow: 2px 10px 20px 0px rgba(0, 0, 0, 0.212);
    margin-bottom:  10px;
   
}



button#see {margin-top: -50px;
;}

button#talk { margin-top: 15px;}

button#cv { margin-top: 15px;}
button#submit {margin-top: -20px;
    text-align: left; 
    margin-left:  -70px;
    
    }
    

header #titulo  {
    
    text-align: left !important;
}

article#text {
    
    text-align: left !important;
    width: 500px;
    padding: 40px;
}

img#icon { width: 150px; height: 150px;
    box-shadow: rgba(0, 0, 0, 0.212);}
img#email {
    width: 150px; height: 150px;
    box-shadow: rgba(0, 0, 0, 0.212);
    padding-left: px;
    
}    

article#photo {
    text-align: right;
    margin-top: -200px;
    margin-right: 30px;
}


section#Contact-form h2 {text-align: left;}

article#image {
    
    text-align: left !important;
}


/*Tamanhos para teste, apagar quando tiver conteudo.*/


#Skills_Software div {
    width: 425px;
    height: 300px;
}
#imgs div{
    margin: 0 8px 8px 8px;
    background: grey;
    width: 90% ;
    height: 180px;
    border-radius: 18px;
}
#about{
    height: 300px;
}

#contact-form{
    height: 400px;
}

/*Fim dos tamanhos para teste *?


/*Form test*/ 



form {
    width: 220px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-block-start: -200px ;
    

}

input, textarea {
    
    font-weight: normal;
    font-size: 13pt;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 18px;
    border-style: solid;

}




fieldset {
    border-color: transparent;
    margin: 20px;
    border-radius: 18px;}

  


article#form p {

 margin: 10px;
 font-weight: bold;
 font-size: 13pt;
 text-align: left;   
 text-indent: 5px;
}

h2 {
    text-align: left !important ;
    text-indent: 15px;
    padding-top: 15px;
    padding-left: 30px;
    padding-bottom: 15px ;
}


/* Lista Skills */

ul#skill {
    text-align: left;
    list-style: none;
    padding: 50px;
    font-family: 'Roboto-' sans-serif;
}


ul#navmenu {
    text-align: left;
    list-style: none;
    padding: 20px;
    font-family: 'Roboto-' sans-serif;
}

ul#software {   text-align: left;
    list-style: none;
    padding: 40px;
    font-family: 'Roboto-' sans-serif;}


#linha{
    width: 50px;
    height: 4px;
    border: 1px solid #000;}